<div id="header-img">
	<div id="header-img-overlay">
		<h1 id="header">FOODR8</h1>
		<h1 id="subheader">Better restaurant reviews</h1>
		<p>
			<a href="/search" class="btn btn-primary" id="search-btn">
 				Search
 			</a>
 		</p>
		<br/>
		<p id="signup">Not a member? <a href="/signup" id="signup-link">Sign up</a></p>
	</div>
</div>
