<div id="login-form-area">
	<h1>Log in</h1>
	<%= bootstrap_form_for :user do |f| %>
		<%= f.email_field :email, class: "input-field" %>
		<%= f.password_field :password, class: "input-field" %>
		<%= f.submit "Go to My Account", class: "btn btn-primary signup-btn" %>
	<% end %>
</div>